/* 重写element-ui样式 */

// .el-input__inner{
//     height: 30px;
//     border: 1px solid #888;
//     border-radius: 3px;
// }
@import "./vars";
// 轮播图
.el-carousel__container {
  height: 100%;
}

.el-carousel {
  height: 100%;
}

.el-carousel__button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

//树形控件取消边框
.el-tree{
  border:none;
}

.el-tree-node__expand-icon{
  transition:none;
}
// 修改树节点高度与设计图一致
.el-tree-node__content{
  height: 36px;
}
// 当前选中节点的背景色和文字颜色
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content{
  background-color:#f1f3f6;
  color:#3da5fe;
}

// 流程中心首页tab样式覆盖
.flow .flow-all {
  .el-tabs__nav-wrap {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    .el-tabs__nav {
      margin-left: 20px;
      .el-tabs__item {
        padding: 0 22px;
        font-size: 16px;
        font-weight: bold;
        &.is-active {
          color: #000000;
        }
      }
    }
  }
  .el-tabs__content {
    margin: 0 20px;
  }
  .el-collapse {
    border: none;
  }
  .el-collapse-item__header {
    height: 50px;
    line-height: 50px;
    padding-left: 0;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #4D4D4D;
    font-weight: bold;
    border-bottom: none;
  }
  .el-collapse-item__wrap {
    background-color: white;
    border-bottom: none;
    .el-collapse-item__content {
      padding: 0;
      .el-radio__label {
        padding-left: 10px;
      }
    }
  }
}

// sidebar中的样式重写
.sidebar-container {
  .el-submenu__icon-arrow {
    right: auto;
    left: 173px;
  }
}

//导航菜单
.el-menu{
  border-right: none;
}
// .el-submenu.is-active .el-submenu__title {
  //border-bottom-color:  #E3E9F2;
// }
.el-menu--horizontal .el-submenu .el-menu-item.is-active, .el-menu-item.is-active{
  position: relative;
  background: #44445B;
  color: #A8A8C3;
  // border-left: 4px solid $color-theme;
  &::after {
    position: absolute;
    display: block;
    height: 100%;
    width: 4px;
    left: 0;
    top: 0;
    content: '';
    background: $color-theme;
  }
}
.el-submenu .el-menu .el-menu-item:hover,
.el-menu-item:hover,
.el-submenu__title:hover{
  background-color: #44445B;
}
.el-menu-item, .el-submenu__title{
  color: #A8A8C3;
}
.el-submenu .el-menu {
  background-color: $color-light-grey;
  color: #A8A8C3;
}

.el-textarea__inner{
  font-family: 'PingFangSC-Regular';
  font-size: 14px;
}

// radio的文字隐藏  仅限用于position-map模块
.position-map-radio{
  .cell{
    text-align:center;
  }
  .el-radio__label{
    display: none;
  }
}

// 步骤条鼠标指针默认
.el-step {
  cursor: default;
}

// 改写附件上传的文件样式
.uploader{
  .el-upload-list{
    .el-upload-list__item{
      display: inline-block;
      width:35%;
      margin-right: 30px;
    }
  }
}

// 表格及中el-form-item组件样式修改
.el-table .el-form-item__error {
  top: 32px;
}

// el-table 标注稿半成品样式，移除注释后可见
.el-table {
  $row-height: 40px; // 36px
  .el-checkbox {
    padding: 0;
  }

  tr {
    height: $row-height;
    padding: 0;
    // th {
      // text-align: center;
      // background: #F2F2F2;
      // border: 1px solid #E8E8E8;
      // color: #000000;
    // }
    // td {
      // color: #333333;
    // }
    th, td {
      padding: 0;
      height: $row-height;
      vertical-align: middle;
      // font-family: PingFangSC-Regular;
      // line-height: 12px;
      // font-size: 12px;
    }
  }

  .el-form-item {
    margin: 16px 0;
  }

  .caret-wrapper {
    position: relative;
  }

  .sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px;
    &.ascending {
      border-bottom-color: #c0c4cc;
      top: 5px;
    }
    &.descending {
      border-top-color: #c0c4cc;
      bottom: 7px;
    }
  }
  .descending .sort-caret.descending {
    border-top-color: #409eff;
  }
  .ascending .sort-caret.ascending {
    border-bottom-color: #409eff;
  }
}

// datePiker input框样式重置
.el-date-editor.el-input {
  width: 100%;
}
// dialog样式重置
.el-dialog--small {
  width: auto;
}
// el-dialog的最大高度

//el-table下的高亮效果
.el-table {
  .highlight {
  background-color: #E6E6E6;
  color: #ACACAC;
  }
}

.standardjob-chosen .el-radio__label{
  display: none;
}

//todo:暂时先解决i-table没有按钮情况下的header还有高度问题
.fix-i-table .i-table header{
  height:0px!important;
}

// el-collapse-item__content padding重写
.el-collapse-item__content {
  padding: 15px 15px;
}

// form表单样式重置
// .el-form-item__label:before {
//   position: relative;
//   top: 2px;
// }

// select下拉框最大宽度
.el-select-dropdown{
  max-width:1000px;
}
// select下拉框选项最大宽度
.el-select-dropdown__item{
  max-width:100%;
}
// select下拉多选添加最大高度
.el-select__tags{
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.el-table {
  .el-form-item {
    margin: 0;
  }
  .el-form-item__content {
    font-size: 12px;
    line-height: 32px;
    position: static;
  }
  .el-form-item__error {
    position: static;
    padding: 0;
    font-size: 12px;
    margin-bottom: 2px;
  }
  .el-radio__inner::after{
    transition: none !important;
  }
  .el-table-column--selection {
    text-align: center;
  }
  &--border th:first-child .cell, .el-table--border td:first-child .cell {
    padding-left: 14px;
  }
}

.el-pagination {
  .el-input__icon{
    transition: none !important;
  }
}

// 清除输入框icon动画效果，修复弹框抖动问题
.el-dialog{
  .el-checkbox__inner{
    transition: none;
    &:after{
      transition: none;
    }
  }
}

/**
 * 表单元素对齐
 * 有风险
 */
.el-form{
  .el-select, .el-cascader{
    display: block;
  }
}

//// 重置表单行高
//.el-form-item__label, .el-form-item__content {
//  line-height: 36px;
//}

// 重写el-tooltip-popper样式
.el-tooltip__popper {
  word-wrap: break-word;
  max-width: 500px;
}

//// 修复输入框icon不居中问题
//.el-input__suffix{
//  line-height: 28px;
//  .el-input__suffix-inner{
//    vertical-align: middle;
//  }
//}
//.el-input__prefix, .el-input__suffix{
//  .el-input__icon , i[class*="el-icon-"]{
//    line-height: 28px;
//  }
//}
.el-input__suffix::after{
  content: "";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

//所有表单文字、所有下拉菜单文字大小、输入框内文字
.el-form-item__label, .el-select-dropdown__item, .el-input .el-input__inner, .el-form-item__content{
  font-size: 12px;
}

//tab版控制
.el-tabs__nav-wrap::after {
  background-color: #E8E8E8;
}
.el-tabs__item{
  height: 29px;
  line-height: 14px;
  font-size: 14px;
  padding: 0 20px;
  &.is-active{
    color: #3DA5FE;
  }
  &:hover{
    color: #3DA5FE;
  }


}

// checkbox
.el-checkbox__label {
  padding-left: 5px;
  font-size: 12px;
}

//覆盖树的字体颜色
.el-tree{
  color:#333;
}

//覆盖表单label字体颜色
.el-form-item__label{
  color:#333;
}

//覆盖表单内icon大小
.el-select .el-input .el-select__caret{
  font-size: 12px;
}

//覆盖下拉表单的列高
.el-select-dropdown__item{
  font-size: 12px;
  line-height: 30px;
  height: 30px;
  color: #666;
}

//.el-select-dropdown__item.selected {
//  line-height: 34px;
//}

//布局组件内aside的按钮组padding
.i-layout .i-layout-aside .el-button--medium{
  padding-left: 15.5px;
  padding-right: 15.5px;
}

//提示弹框
.el-message-box{
  border: none;
  border-radius: 0;
  .el-message-box__header{
    background: #FAFAFA;
    padding: 16px;
    .el-message-box__title{
      text-align: center;
      color: #000;
    }
    .el-message-box__headerbtn .el-message-box__close{
      font-size: 18px;
    }
  }
}

// 更改message的样式
.el-message{
  top: calc(50% - 23px);
  border-radius: 4px;
}

// element布局组件
.el-header {
  background-color: #28283C
}
.el-footer {
  background-color: #efefef;
}
.el-main {
  display: block;
}
