@charset "utf-8";
@import "element-variables";

/** vars-主题变量 **/

// 颜色定义规范
$color-theme: $--color-primary;
$color-white: #fff;
$color-grey: #f2f2f2;
$color-red: #ff0000;
$color-green: #00ff00;
$color-black: #000;
$color-light-grey: #3a3a53;
$color-dark-grey: #28283c;

$light-blue: #3da5fe;
$dark-white: #f9fafc;

$color-success: $--color-success;
$color-warning: $--color-warning;
$color-danger: $--color-danger;
$color-info: $--color-info;
// 通用边框颜色
$border-color: #e5e5e5;

// 主题相关字体定义规范
$font-size-base: 1px;
$font-size-mini: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-extra: 20px;

// 字体行高
$line-height-mini: 11px;
$line-height-small: 13px;
$line-height-medium: 16px;
$line-height-large: 18px;
$line-height-extra: 19.6px;

// px定义规范
$size-base: 1px;
$size-5: 5px;
$size-8: 8px;
$size-10: 10px;
$size-15: 15px;
$size-20: 20px;

// 字体
$font-family-PFSC-R: PingFangSC-Regular;
$font-family-PFSC-M: PingFangSC-Medium;

// icon font size in toolbox
$toolbox-icon-size: 0.6em;

// 主题内容宽度
$container-width: 1326px;

