.large-box {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  /** 标题 **/
  .add-list-title {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
    width:100%;
  }
  /** 是否已发公文多选框 **/
  .is-send-official {
    width: 100%;
    margin-top: 20px;
  }
  /** 左右两个盒子 **/
  .box {
    border: 1px solid #E8E8E8;
    height: 650px;
    width: 500px;
    background: #F8F8F8;
    position: relative;
    /** 左边盒子头部 **/
    .tree-box-title {
      display: flex;
      height: 50px;
      line-height: 50px;
      width: 500px;
      background: #ffffff;
      border-bottom: 1px solid #E8E8E8;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;
    }
    .copy-box{
      width: 480px;
      height: 580px;
      background: #F8F8F8;
      border: 1px solid #F8F8F8;
      margin-left: 10px;
      margin-top: 10px;
      .copy-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 36px;
        line-height: 36px;
        padding-left: 20px;
        font-size: 14px;
        box-sizing: border-box;
        background: #ffffff;
      }
      .copy-item-icon {
        font-size:16px;
        color:#3DA5FE;
        margin-right:30px;
      }
      .copy-item:nth-child(even) {
        background: #FAFAFA;
      }
      .pasteBtn{
        position: absolute;
        bottom:10px;
        right:10px;
      }
    }
  }
  /** 表单盒子 **/
  .form-box {
    border-left: 2px solid #3DA5FE;
    background: #ffffff;
    .form-box-title {
      font-size: 14px;
      width: 500px;
      height: 50px;
      line-height: 50px;
      background: #F8F8F8;
      border-bottom: 1px solid #E8E8E8;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h2 {
        font-weight: normal;
        color: #333333;
        margin-left: 20px;
      }
    }
  }
}
/** 组织树鼠标进入显示增加，删除按钮 **/
.org-tree {
  height: 581px;
  overflow: auto;
  /deep/ .el-tree-node {
    background: #F8F8F8;
  }
  /deep/ .el-tree-node__content {
    position: relative;
    &:hover {
      background: #ffffff;
    }
  }
  /deep/ .el-tree-node__content {
    position: relative;
    .tree-icon {
      display: none;
    }
    &:hover {
      .tree-icon {
        display: inline-block;
      }
    }
  }
}
/** 重写表单样式 **/
.el-form {
  overflow: auto;
  height: 540px;
  span{
    color: #8D8D8D;
  }
  /** 重写item上下边距，字体，高度,input宽度 **/
  .lib-org-standar {
    height: 50px;
  }
  /deep/ .el-form-item {
    min-height: 28px;
    margin-top: 10px;
    margin-bottom: 0;

    .el-form-item__label {
      min-height: 28px;
      // line-height: 28px;
    }
    .el-form-item__content {
      min-height: 28px;
      // line-height: 28px;
      .el-input {
        width: 180px;
      }
      .el-textarea {
        width: 310px;
      }
      .el-form-item__error {
        padding-top: 0;
      }
    }
  }
  /** 重写表单底部按钮样式 **/
  .form-footer-btn {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: #ffffff;
    padding-top: 7px;
    border-top: 1px solid #e8e8e8;
    box-sizing: border-box;
    /deep/ .el-form-item__content {
      height: 36px;
      display: flex;
      justify-content: flex-end;
      padding-right:10px;
    }
  }
}
.copy-paste-message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
  color: #D8D8D8;
  i {
    font-size: 24px;
    margin-right: 10px;
  }
  span {
    font-size: 14px;
  }
}
// 成本中心样式
.org-cost-center {
  /deep/ .el-select {
    width: 97%;
  }
}
// 成本中心表格中的form样式
.cost-central-form {
  height: 60px;
}
.org-standard-table {
  width: 600px;
}

.el-icon-close {
  cursor: pointer;
}
